[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"

[packages]
wagtail = "*"
Django = "*"
django-storages = "*"
zappa-django-utils = "*"
awscli = "*"
zappa = {git = "https://github.com/Miserlou/Zappa.git"}
mysqlclient = "*"
django-s3-storage = "*"
wagtail-markdown = {git = "https://github.com/torchbox/wagtail-markdown.git"}
django-ses = "*"
wagtail-graphql-api = "*"
tqdm = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
